{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="{% static 'css/parts.css' %}" rel="stylesheet" />   
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />


    </head>
  
    <body>
        <nav >
            <ul>
                <li class="logo"><img alt="" src="{% static '' %}"></li>
                <li>
                    <a href="#"><i class="fa fa-file-text-o"></i>   General  </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-stethoscope"></i>   Medical </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-microchip"></i>    IT </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building"></i>   Engineering </a>
                </li>

            </ul>
        </nav>
        <div class="wrapper">
            <div class="section">
                <div class="box-area">

</html>
